<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.myapp.dao.AdminMapper">

<!-- 로그인 처리 -->
<select id="adminLogin" resultType="com.mycompany.myapp.vo.UserVO">
	SELECT USER_ID AS userId,
		USER_NAME AS userName,
		USER_BIRTH AS userBirth,
    	USER_ADDRESS AS userAddress,
   	 	USER_PHONE AS userPhone,
   	 	USER_SIGNUP AS userSignup
		FROM USERS 
		WHERE USER_ID  = #{userId}
		AND USER_PASSWORD = #{userPassword}
		AND USER_ISADMIN = 'admin'
</select>

</mapper>